{% extends "blog/base.html" %}
{% block content %}
  <button class="btn btn-outline-warning btn-lg" onclick="login()">Log in</button>
  <p id="demo"></p>

  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://unpkg.com/moralis/dist/moralis.js"></script>

  <script>
    Moralis.initialize("mvqsbYrUL2o65a9Z9bkGmYC8xIkDt7VFE3n3MEVb");
    Moralis.serverURL = "https://wej6mr0ahk7q.usemoralis.com:2053/server";
    async function login(){
			console.log("login clicked");
			var user = await Moralis.Web3.authenticate();
			if(user){
				console.log(user.get("ethAddress"));
				const serverUrl = "https://wej6mr0ahk7q.usemoralis.com:2053/server";
                const appId = "Clj5X3yv50qFCkWW9zyyZwlp04CccJXuomlcbQ9VSdvrfx4KY6nnICVsaBFjo376";
                Moralis.start( {serverUrl, appId} );

				const options = {
				  chain: "polygon",
                  address: "0x1bc56Fbc2852339638C6BEb5DE505ce623332437",
                };
                const nftOwners = await Moralis.Web3API.account.getNFTs(options);
                document.getElementById("demo").innerHTML = JSON.stringify(nftOwners);
			}
		}
  </script>
<!--  <script>-->


<!--    async function login(){-->
<!--      console.log("login clicked");-->
<!--      const provider = new ethers.providers.Web3Provider(window.ethereum)-->
<!--      await provider.send("eth_requestAccounts", []);-->
<!--      const signer = provider.getSigner()-->

<!--      signer.getAddress().then(value => {-->
<!--        console.log(value); // value is wallet adress-->
<!--          }).catch(err => {-->
<!--         console.log(err);-->
<!--      });-->
<!--    }-->
<!--  </script>-->
<!--  <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"-->
<!--        type="application/javascript"></script>-->

{% endblock content%}
